/* overall css start */
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Bebas Neue', cursive;
}
.orange-highlight{
    color: #FABE4C;
}
.buy-now-btn{
    background-image: linear-gradient(#A4BC46, #85A019);
    border: none;
    padding: 1em 2em;
    border-radius: .6em;
}
.section-title{
    font-size: 48px;
}
/* overall css end */

/* header part css start */
.logo img{
    height: 35px;
}
.active, .nav-link:hover{
    color: #A4BC46 !important;
}
.banner-right img{
    width: 70%;
}
/* header part css end */

/* product part css start */
.product-card{
    border: none;
    border-radius: 1em;
    padding: .8em;
}
.item-img img{
    width: 80px;
}
.about-right img{
    max-width: 100%;
}
/* product part css end */

/* contact part css start */
.contact-form input, textarea{
    padding: 10px 0 10px 10px;
    margin-bottom: 15px;
    border: 1px solid #A4BC46;
}
.contact-form input::placeholder, textarea::placeholder{
    color: #A4BC46;
}
.contact-form .submit-btn{
    background-color: #A4BC46;
    color: #ffffff;
}
.contact-right iframe{
    width: 100%;
}
/* contact part css end */

/* buy-now button issue fix css start */
@media (max-width: 991px) and (min-width: 768px) {
    .buy-now-btn{
        padding: .6em .8em;
        font-size: 12px;
    }
    .card-bottom .orange-highlight{
        font-size: 1.4rem;
        margin: 0;
    }
}
/* buy-now button issue fix css end */

/* about us item-details css start */
@media (max-width: 767px){
    .item-details{
        text-align: center;
    }
}
/* about us item-details css end */